body {
    margin: 0;
    font-family: Arial;
    background: #0f1123;
    color: white;
}

header {
    padding: 20px;
}

.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url('https://images.unsplash.com/photo-1542751371-adc38448a05e') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn {
    background: #00ffd5;
    padding: 12px 25px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.section {
    padding: 60px 20px;
    text-align: center;
}

.tournaments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: #1c1f3a;
    margin: 15px;
    padding: 20px;
    width: 260px;
    border-radius: 10px;
}

.match {
    background: #2a2d4a;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

.footer {
    text-align: center;
    padding: 20px;
}